{% extends 'base.html' %}

{% block content %}

<div class="body">
    <div class="container has-test-justified">
        <div class="container">
            <h1 class="title is-1">Agregar nuevo libro</h1>
        <form method="POST" action="/add_book">
            <p>{{ form.book_title.label }} {{ form.book_title(size=30) }}</p>
            <p>{{ form.book_genre.label }} {{ form.book_genre(size=30) }}</p>
            <p>{{ form.author_name.label }} {{ form.author_name(size=30) }}</p>
            <p>{{ form.author_country.label }} {{ form.author_country(size=30) }}</p>
            <p>{{ form.editorial_name.label }} {{ form.editorial_name(size=30) }}</p>
            <p>{{ form.book_year.label }} {{ form.book_year(size=4) }}</p>
            <p>{{ form.book_pages.label }} {{ form.book_pages(size=4) }}</p>
            <p>{{ form.book_is_read.label }} {{ form.book_is_read }}</p>
            <p>{{ form.book_is_shared.label }} {{ form.book_is_shared }}</p>
            <p>{{ form.book_rating.label }} {{ form.book_rating(size=4) }}</p>
            <p>{{ form.book_cover.label }} {{ form.book_cover }}</p>
            <p>{{ form.book_tags.label }} {{ form.book_tags(size=30) }}</p>
            <p>{{ form.book_review.label }} (puedes usar <a href="https://www.markdownguide.org/basic-syntax/">markdown</a>){{ form.book_review(class_='wide-textarea', rows=10) }}</p>
            <br>
            {{ form.submit }}
        </form>
        </div>
    </div>
</div>
{% endblock %}
