{% extends 'base.html' %}

{% block content %}

<div class="body">
    <div class="container has-test-justified">
        <div class="container">
            <h1 class="title is-1">Agregar nueva Cita</h1>
        <form method="POST" action="/add_quote">
            {{ form.hidden_tag() }}
            <p>{{ form.owner.label }} {{ form.owner(size=20) }}</p>
            <p>{{ form.quote.label }} {{ form.quote(class_='wide-textarea') }}</p>
            <br>
            {{ form.submit }}
        </form>
        </div>
    </div>
</div>
{% endblock %}
