{% extends "base.html" %}

{% block content%}

<div class="body">
    <div class="container has-text-justified">
        <!--
        <h1 class="title is-1">
            Hola, {{ name }}!
        </h1>
        <br>
        -->
        <div class="container has-text-centered">
            <h3 class="text-muted">
                <i>{{ quote[0] | safe }}.</i>
                <br>
                <p align="right"><b>{{ quote[1] | safe }}.</b></p>
            </h2>
        </div>

        <br>

        <h2>Estadísticas.</h2>
        <table class="table is-fullwidth is-stripped">
            <tbody>
                <tr class="has-background-success-light">
                    <th>Libros registrados</th>
                    <th>Libros leídos</th>
                    <th>Libros sin leer</th>
                    <th>Libros prestados</th>
                </tr>
                <tr>
                    <td>{{ books_total }}</td>
                    <td>{{ books_read }}</td>
                    <td>{{ books_unread }}</td>
                    <td>{{ books_shared }}</td>
                </tr>
            </tbody>
        </table>

        <br>

        {% include '_data_analisys.html' %}
    </div>
</div>

{% endblock %}
