{% extends 'base.html' %}

{% block content %}

<div class="body">
    {% for item in book %}
    {% with rating = item[6] %}

    <div class="container has-text-justified">
        <h1 class="title">{{ item[1] }}</h1>
        <h2 class="text-muted">{{ item[9] }} ({{ item[10] }})</h2>

        <div class="container">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <p><b>Género: </b>{{ item[13] }}</p>
                    <p><b>Editorial: </b>{{ item[12] }}</p>
                    <p><b>Año: </b>{{ item[2] }}</p>
                    <p><b>¿Leído?: </b>{% if item[4] %}✔️{%else%}✖️{%endif%}</p>
                    <p><b>¿Prestado?: </b>{% if item[5] %}✔️{%else%}✖️{%endif%}</p>
                    <p><b>Número de páginas: </b>{{ item[3] }}</p>
                    <p><b>Puntuación: </b>{{ rating * '⭐' |safe}}{{ (5 - rating) * '⚝' |safe }}</p>
                    <p><b>ISBN: </b>{{ item[9] }}</p>
                    <p><b>Tags: </b>
                    {% set tag_list = item[8].split(', ')%}
                    <ul>
                    {% for tag in tag_list %}
                    <li><a href="{{ url_for('main.show_tag', tag = tag)}}">{{tag}}</a></li>
                    {% endfor %}
                    </ul>
                    </p>
                    <br>
                    <p><img src="https://covers.openlibrary.org/b/isbn/{{ item[8] }}.jpg"></p>
                </div>
                <div class="col-sm-7">
                    {{ review | safe }}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="text-nowrap">
        <a href="{{ url_for('main.edit_book', book_id = item[0]) }}" style="text-decoration: none" title="Editar libro">📝</a>
        <a href="{{ url_for('main.delete_book', book_id = item[0]) }}" style="text-decoration: none" title="Borrar libro - SIN CONFIRMACÓN">🗑️</a>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}
