{% extends 'base.html' %}

{% block content %}
<div class="hero-body">
    <div class="container has-text-justified is-fluid">
        {% for e in editorial %}
        <h1 class="Title">{{e.name}}</h1>
        {% endfor %}
        <br>
        <table class="table is-fullwidth">
            <tr class="has-background-success-light">
                <th>Título</th>
                <th>Puntuación</th>
                <th>Género</th>
                <th>Autor</th>
            </tr>
            {% for book in books %}
            <tr>
                <th><a href="{{ url_for('main.show_book', book_id = book.id)  }}">{{ book.title  }}</a></th>
                <th>{{ book.rating * '<i class="bi bi-star-fill"></i>' |safe  }}</th>
                <th><a href="{{ url_for('main.show_author', author_id = book.id_author) }}">{{ book.author_name }}</a></th>
                <th><a href="{{ url_for('main.show_genre', genre_id = book.id_genre) }}">{{ book.genre_name }}</a></th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
