{% extends 'base.html' %}

{% block content %}

<div class="body">
    {% for item in book %}

    <div class="container has-text-justified">
        <h1 class="title">{{ item[1] }}</h1>
        <h2 class="text-muted">{{ item[7] }} ({{ item[8] }})</h2>
        <br></br>
        <p><b>Género: </b>{{ item[10] }}</p>
        <p><b>Editorial: </b>{{ item[8] }}</p>
        <p><b>Año: </b>{{ item[2] }}</p>
        <p><b>¿Leído?: </b>{% if item[4] %}<i class="bi bi-check-square-fill"></i>{%else%}<i class="bi bi-x-square-fill"></i>{%endif%}</p>
        <p><b>¿Prestado?: </b>{% if item[5] %}<i class="bi bi-check-square-fill"></i>{%else%}<i class="bi bi-x-square-fill"></i>{%endif%}</p>
        <p><b>Número de páginas: </b>{{ item[3] }}</p>
        <p><b>Puntuación: </b>{{ item[6] * '<i class="bi bi-star-fill"></i>' |safe}}</p>
        <br></br>
    </div>

    <hr>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="text-nowrap">
            <a href="{{ url_for('main.edit_book', book_id = item[0]) }}">Editar Libro</a>
            <a href="{{ url_for('main.delete_book', book_id = item[0]) }}">Borrar Libro</a>
        </div>
    </nav>
    {% endfor %}
</div>
{% endblock %}
