{% extends 'base.html' %}

{% block content %}
<div class="hero-body">
    <div class="container has-text-justified is-fluid">
        {% for a in author %}
        <h1 class="Title">{{a.name}}</h1>
        <h3>{{a.country}}</h3>
        {% endfor %}
        <br>
        <table class="table is-fullwidth">
            <tr class="has-background-success-light">
                <th>Título</th>
                <th>Puntuación</th>
                <th>Género</th>
                <th>Editorial</th>
            </tr>
            {% for book in books %}
            {% with rating = book.rating %}
            <tr>
                <td><a href="{{ url_for('main.show_book', book_id = book.id)  }}">{{ book.title  }}</a></td>
                <td>{{ rating * '⭐' |safe  }}{{ (5 - rating) * '⚝' |safe  }}</td>
                <td><a href="{{ url_for('main.show_genre', genre_id = book.id_genre) }}">{{ book.genre_name }}</a></td>
                <td><a href="{{ url_for('main.show_editorial', editorial_id = book.id_editorial) }}">{{ book.editorial_name }}</a></td>
            </tr>
            {% endwith %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
