{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Puedes ir al <a href="{{ url_for('auth.login') }}">inicio de sesión</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
          {{ form.csfr_token }}
          <fieldset class="form-field">{{ form.name.label }} {{ form.name }}
            {% if form.name.errors %}
              <ul class="errors">
                {% for error in form.name.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>
          <fieldset class="form-field">{{ form.email.label }} {{ form.email }}
            {% if form.email.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <fieldset class="form-field">{{ form.password.label }} {{ form.password }}
            {% if form.password.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <fieldset class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
            {% if form.confirmPassword.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <input type="submit" value="Go">

          </form>
    </div>
</div>
{% endblock %}
